.dashboard-content, .dashboard-content-nav  {
    margin-left: 15px;
}

.dashboard-content-nav {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-gap: 10px;
}

.name-suggestion-list {
    min-height: 200px;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 10px;
}

.date-range-picker {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.chart-container {
    margin: 20px;
}